pipeline/1_CopySQLStage.json
{
	"name": "1_CopySQLStage",
	"properties": {
		"description": "Copy staging data from ADLS gen2 into Azure SQL",
		"activities": [
			{
				"name": "Get_Metadat",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_Table",
						"type": "DatasetReference",
						"parameters": {
							"TableSchema": "trips",
							"TableName": "metadata"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Iterate_Tables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get_Metadat",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get_Metadata').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 5,
					"activities": [
						{
							"name": "Copy_File",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "1_CopySQLStageTable",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"FilePath": {
										"value": "@item().FilePath",
										"type": "Expression"
									},
									"FileName": {
										"value": "@item().FileName",
										"type": "Expression"
									},
									"TableSchema": {
										"value": "@item().DestinationSchema",
										"type": "Expression"
									},
									"TableName": {
										"value": "@item().DestinationTable",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "1_ADLS_SQL"
		},
		"annotations": [],
		"lastPublishTime": "2020-09-30T08:53:58Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}