pipeline/2_CopyPGDelta.json
{
	"name": "2_CopyPGDelta",
	"properties": {
		"activities": [
			{
				"name": "GetLastPurchaseDate",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "DeleteSomeData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[trips].[get_last_date]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_Table",
						"type": "DatasetReference",
						"parameters": {
							"TableSchema": "Placeholder",
							"TableName": "Placeholder"
						}
					}
				}
			},
			{
				"name": "DeleteSomeData",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[trips].[delete_some_data]"
				},
				"linkedServiceName": {
					"referenceName": "DB_Target",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "CopyDelta",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetLastPurchaseDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "PostgreSqlSource",
						"query": {
							"value": "SELECT *\nFROM public.tickets\nWHERE ticket_purchase_date >= '@{activity('GetLastPurchaseDate').output.firstRow.MaxDate}'",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "PG_Table",
						"type": "DatasetReference",
						"parameters": {
							"TableSchema": "Placeholder",
							"TableName": "Placeholder"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "SQL_Table",
						"type": "DatasetReference",
						"parameters": {
							"TableSchema": "trips",
							"TableName": "tickets_advanced"
						}
					}
				]
			}
		],
		"folder": {
			"name": "2_PG_SQL_Delta"
		},
		"annotations": [],
		"lastPublishTime": "2020-09-30T09:29:18Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}