adfpresadf/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adfpresadf"
		},
		"AKV_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://adfpreskv.vault.azure.net/"
		},
		"BS_Source_properties_typeProperties_serviceEndpoint": {
			"type": "string",
			"defaultValue": "https://glebekblobs.blob.core.windows.net"
		},
		"DL_Target_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adfpresbs.dfs.core.windows.net"
		},
		"DB_Target_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "adfpresdbCS"
		},
		"DB_Target_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "58642421-f329-499f-a1fe-a875704c8839"
		},
		"DB_Target_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "6c51c659-9d52-41af-81f7-dde16380e813"
		},
		"PG_Source_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "adfpresPGCS"
		},
		"SF_Target_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "adfpresSFCN"
		},
		"ALDS_LIstener_Trigger_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/6bd6408c-ed5d-44b0-8ca4-673232a748ea/resourceGroups/adfpres/providers/Microsoft.Storage/storageAccounts/adfpresbs"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AKV')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AKV_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/BS_Source')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"serviceEndpoint": "[parameters('BS_Source_properties_typeProperties_serviceEndpoint')]",
					"accountKind": "StorageV2"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DL_Target')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('DL_Target_properties_typeProperties_url')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LocalIR')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"description": "Local PC IR",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADLS_Connection')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DL_Target",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"ContainerName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": {
							"value": "@dataset().ContainerName",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DL_Target')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADLS_File')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DL_Target",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FilePath": {
						"type": "string"
					},
					"FileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().FilePath",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DL_Target')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADLS_Movies')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DL_Target",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "moviesDB.csv",
						"fileSystem": "movies"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "movie",
						"type": "String"
					},
					{
						"name": "title",
						"type": "String"
					},
					{
						"name": "genres",
						"type": "String"
					},
					{
						"name": "year",
						"type": "String"
					},
					{
						"name": "Rating",
						"type": "String"
					},
					{
						"name": "Rotton Tomato",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DL_Target')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DB_Target')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AKV",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('DB_Target_properties_typeProperties_connectionString_secretName')]"
					},
					"servicePrincipalId": "[parameters('DB_Target_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AKV",
							"type": "LinkedServiceReference"
						},
						"secretName": "adfpresSPsecret"
					},
					"tenant": "[parameters('DB_Target_properties_typeProperties_tenant')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AKV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PG_Source')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "PostgreSql",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AKV",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('PG_Source_properties_typeProperties_connectionString_secretName')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AKV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SF_Target')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Snowflake",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AKV",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('SF_Target_properties_typeProperties_connectionString_secretName')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AKV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/3_Listen_ADLS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyNewFiles",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "files/*",
									"wildcardFileName": "*"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ADLS_Connection",
								"type": "DatasetReference",
								"parameters": {
									"ContainerName": "landing"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ADLS_Connection",
								"type": "DatasetReference",
								"parameters": {
									"ContainerName": "raw"
								}
							}
						]
					}
				],
				"folder": {
					"name": "3_Listener"
				},
				"annotations": [],
				"lastPublishTime": "2020-09-30T09:52:39Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ADLS_Connection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PG_Table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PG_Source",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"TableSchema": {
						"type": "string"
					},
					"TableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "PostgreSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/PG_Source')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SF_Movies')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SF_Target",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SnowflakeTable",
				"schema": [
					{
						"name": "PRIMARYGENRE",
						"type": "VARCHAR",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "YEAR",
						"type": "VARCHAR",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "AVGRATING",
						"type": "FLOAT",
						"precision": 15,
						"scale": 0
					},
					{
						"name": "HIGHESTRATED",
						"type": "VARCHAR",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "LOWESTRATED",
						"type": "VARCHAR",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "NUMBEROFMOVIEW",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "PUBLIC",
					"table": "MOVIES"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SF_Target')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQL_Table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DB_Target",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"TableSchema": {
						"type": "string"
					},
					"TableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().TableSchema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DB_Target')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/1_CopySQLStageTable')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ADLS_to_SQL",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "TRUNCATE TABLE @{pipeline().parameters.TableSchema}.@{pipeline().parameters.TableName}",
									"type": "Expression"
								},
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ADLS_File",
								"type": "DatasetReference",
								"parameters": {
									"FilePath": {
										"value": "@pipeline().parameters.FilePath",
										"type": "Expression"
									},
									"FileName": {
										"value": "@pipeline().parameters.FileName",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SQL_Table",
								"type": "DatasetReference",
								"parameters": {
									"TableSchema": {
										"value": "@pipeline().parameters.TableSchema",
										"type": "Expression"
									},
									"TableName": {
										"value": "@pipeline().parameters.TableName",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"parameters": {
					"FilePath": {
						"type": "string"
					},
					"FileName": {
						"type": "string"
					},
					"TableSchema": {
						"type": "string"
					},
					"TableName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "1_ADLS_SQL"
				},
				"annotations": [],
				"lastPublishTime": "2020-09-30T09:00:41Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ADLS_File')]",
				"[concat(variables('factoryId'), '/datasets/SQL_Table')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/2_CopyPGDelta')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetLastPurchaseDate",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "DeleteSomeData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[trips].[get_last_date]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_Table",
								"type": "DatasetReference",
								"parameters": {
									"TableSchema": "Placeholder",
									"TableName": "Placeholder"
								}
							}
						}
					},
					{
						"name": "DeleteSomeData",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[trips].[delete_some_data]"
						},
						"linkedServiceName": {
							"referenceName": "DB_Target",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "CopyDelta",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "GetLastPurchaseDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "PostgreSqlSource",
								"query": {
									"value": "SELECT *\nFROM public.tickets\nWHERE ticket_purchase_date >= '@{activity('GetLastPurchaseDate').output.firstRow.MaxDate}'",
									"type": "Expression"
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PG_Table",
								"type": "DatasetReference",
								"parameters": {
									"TableSchema": "Placeholder",
									"TableName": "Placeholder"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SQL_Table",
								"type": "DatasetReference",
								"parameters": {
									"TableSchema": "trips",
									"TableName": "tickets_advanced"
								}
							}
						]
					}
				],
				"folder": {
					"name": "2_PG_SQL_Delta"
				},
				"annotations": [],
				"lastPublishTime": "2020-09-30T09:29:18Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SQL_Table')]",
				"[concat(variables('factoryId'), '/linkedServices/DB_Target')]",
				"[concat(variables('factoryId'), '/datasets/PG_Table')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ALDS_LIstener_Trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "3_Listen_ADLS",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/landing/blobs/files/",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('ALDS_LIstener_Trigger_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/3_Listen_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Movie_Analytics')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ADLS_Movies",
								"type": "DatasetReference"
							},
							"name": "MoviesSource"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "SF_Movies",
								"type": "DatasetReference"
							},
							"name": "SF"
						}
					],
					"transformations": [
						{
							"name": "SelectColumns"
						},
						{
							"name": "FilterYear"
						},
						{
							"name": "DerivePrimaryGenre"
						},
						{
							"name": "RankMoviesByRatings"
						},
						{
							"name": "CreateAggs"
						}
					],
					"script": "source(output(\n\t\tmovie as string,\n\t\ttitle as string,\n\t\tgenres as string,\n\t\tyear as string,\n\t\tRating as string,\n\t\t{Rotton Tomato} as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> MoviesSource\nMoviesSource select(mapColumn(\n\t\tmovie,\n\t\ttitle,\n\t\tgenres,\n\t\tyear,\n\t\tRating,\n\t\tRottenTomato = {Rotton Tomato}\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectColumns\nSelectColumns filter(toInteger(year) > 1950) ~> FilterYear\nFilterYear derive(PrimaryGenre = iif(locate('|', genres) > 1, left(genres, locate('|', genres) - 1), genres)) ~> DerivePrimaryGenre\nDerivePrimaryGenre window(over(PrimaryGenre,\n\t\tyear),\n\tasc(RottenTomato, true),\n\tRatingsRank = rank()) ~> RankMoviesByRatings\nRankMoviesByRatings aggregate(groupBy(PrimaryGenre,\n\t\tyear),\n\tAvgRating = avg(toInteger(RottenTomato)),\n\t\tHighestRated = first(title),\n\t\tLowestRated = last(title),\n\t\tNumberOfMoview = count()) ~> CreateAggs\nCreateAggs sink(input(\n\t\tPRIMARYGENRE as string,\n\t\tYEAR as string,\n\t\tAVGRATING as double,\n\t\tHIGHESTRATED as string,\n\t\tLOWESTRATED as string,\n\t\tNUMBEROFMOVIEW as decimal(38,0)\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\ttruncate:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SF"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ADLS_Movies')]",
				"[concat(variables('factoryId'), '/datasets/SF_Movies')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/1_CopySQLStage')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copy staging data from ADLS gen2 into Azure SQL",
				"activities": [
					{
						"name": "Get_Metadata",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SQL_Table",
								"type": "DatasetReference",
								"parameters": {
									"TableSchema": "trips",
									"TableName": "metadata"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Iterate_Tables",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get_Metadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get_Metadata').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 5,
							"activities": [
								{
									"name": "Copy_File",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "1_CopySQLStageTable",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"FilePath": {
												"value": "@item().FilePath",
												"type": "Expression"
											},
											"FileName": {
												"value": "@item().FileName",
												"type": "Expression"
											},
											"TableSchema": {
												"value": "@item().DestinationSchema",
												"type": "Expression"
											},
											"TableName": {
												"value": "@item().DestinationTable",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"folder": {
					"name": "1_ADLS_SQL"
				},
				"annotations": [],
				"lastPublishTime": "2020-09-30T08:53:58Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SQL_Table')]",
				"[concat(variables('factoryId'), '/pipelines/1_CopySQLStageTable')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/4_Movies_DF')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Movies",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Movie_Analytics",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"MoviesSource": {},
									"SF": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							}
						}
					}
				],
				"folder": {
					"name": "4_Movies_DF"
				},
				"annotations": [],
				"lastPublishTime": "2020-09-30T10:39:32Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/Movie_Analytics')]"
			]
		}
	]
}